# Environment Variables for MedQueue

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# API Base URL
API_BASE_URL=your_api_base_url_here
NEXT_PUBLIC_API_URL=your_api_base_url_here

# MongoDB URI
MONGODB_URI=your_mongodb_uri_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Optional: organize uploads in a folder
CLOUDINARY_FOLDER=your_cloudinary_folder

# Midtrans
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=your_midtrans_client_key
NEXT_PUBLIC_APP_URL=http://localhost:3000
